#display1{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#full {
    display: inline;
    width: 25%;
    padding: 10px;
    border: 1px solid Black;
    margin: 10px;
    background-color: lightgrey;
    align-items: center;
}

#addedMap {
    display: inline;
    width: auto;
    padding: 10px;
    border: 1px solid Black;
    margin: 10px;
}

#add2 {
    justify-content: space-between;
    display: flex;

   padding: 1em;
}

#edit{
    display: flex;
    justify-content: center;
    padding: 1em;
    bottom: 1em;
}

#load{
    display: flex;
   justify-content: center;
    padding: 1em;
    color: white;
}

body{
  background-color: #212529;
}


#theJumbotron{
    background-color: #ffc62a;

    padding: 1em;
}