#display1{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#full {
    display: inline;
    width: 25%;
    padding: 10px;
    border: 1px solid Black;
    margin: 10px;
    background-color: lightgrey;
    align-items: center;
}

#addedMap {
    display: inline;
    width: auto;
    padding: 10px;
    border: 1px solid Black;
    margin: 10px;
}

#add2 {
    justify-content: space-between;
    display: flex;
    padding: 1em;
}

#edit{
    display: flex;
    justify-content: center;
    padding: 1em;
    bottom: 1em;
}

#load{
    display: flex;
    justify-content: center;
    padding: 1em;
    color: white;
}

body{
    background-color: black;
}



.navbar{
    padding: 0;
}

#main-nav{
    background-color: #ffc62a;
    padding: 1em;


}

.wrap {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 200px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgb(227, 230, 129) 0%, rgb(209, 207, 79) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgb(248, 184, 6);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    top: 11px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #e4e86c;
    box-shadow: 0 0 60px rgb(255, 248, 127);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

.movieName{
    border: 2px solid rgb(248, 223, 78);
    border-radius: 7px;
}
.movieName:focus{
    outline: none;
    border-color: #232424;
    box-shadow: 0 0 10px #030303;
}

.movieDes{
    border: 2px solid rgb(248, 223, 78);
    border-radius: 7px;
}
.movieDes:focus{
    outline: none;
    border-color: #232424;
    box-shadow: 0 0 10px #030303;
}

.movieRating{
    border: 2px solid rgb(248, 223, 78);
    border-radius: 7px;
}
.movieRating:focus{
    outline: none;
    border-color: #232424;
    box-shadow: 0 0 10px #030303;
}

.card:hover{
    box-shadow: 1px 1px 20px whitesmoke;
    transition: 0.3s
}

